body {
  margin: 0;
}

.l-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-container {
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
}

.l-header {
  background-color: rgb(255, 255, 255);
}

.l-body {
  overflow: auto;
  padding-bottom: 2em;
}

.l-nav {
  height: 10em;
  left: -15em;
  position: absolute;
  top: 0;
  width: 15em;
}

@media (max-width: 799px) {
  .l-container.l-container-with-nav-main {
    -webkit-transform: translateX(15em);
        -ms-transform: translateX(15em);
            transform: translateX(15em);
  }
}

@media (min-width: 600px) {
  .mid {
    float: left;
    width: 56.25%;
  }

  .right {
    float: left;
    width: 43.75%;
  }
}

@media (min-width: 800px) {
  .l-container {
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 20%, #ffffff 20%, #ffffff 100%);
  }

  .l-header > .l-block {
    float: right;
    width: 33%;
  }

  .l-header > .l-block:last-child {
    float: none;
    width: 100%;
  }

  .l-header > .l-block-header-2 {
    display: none;
  }

  .l-nav {
    float: left;
    position: static;
    width: 20%;
  }

  .l-body {
    float: left;
    width: 80%;
  }

  .l-right {
    float: right;
    width: 35%;
  }
}

@media (min-width: 1600px) {
  .l-container {
    margin: 0 auto;
    max-width: 1600px;
  }
}

.l-block {
  padding: 0.625em;
}

.l-block-title, .l-block-content {
  padding: 0.625em;
}

@media (min-width: 600px) {
  .l-block-title, .l-block-content {
    padding: 1.5em;
  }
}

.l-block-header {
  background-color: rgb(255, 220, 165);
}

@media (min-width: 800px) {
  .l-block-header {
    background-color: transparent;
  }
}

.l-block-header-2 {
  float: left;
  width: 50%;
}

.l-block-navigation-1 {
  padding: 0;
}

.l-block-navigation-2 {
  background-color: rgb(250, 119, 27);
}

.l-block-title {
  background-color: rgb(42, 0, 88);
}
