.l-group:after {
  content: '';
  display: table;
  clear: both;
}

.l-header {
  background-color: rgb(255, 255, 255);
}

.l-nav {
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 799px) {
  .l-nav.l-nav-active {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.l-body {
  min-height: 30em;
  padding-bottom: 1.5em;
}

.l-title {
  background-color: rgb(42, 0, 88);
}

.l-footer {
  background-color: rgb(42, 0, 88);
  clear: left;
}

@media (min-width: 800px) {
  .l-container {
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 20%, #ffffff 20%, #ffffff 100%);
  }

  .l-header > .l-block {
    float: right;
    width: 33%;
  }

  .l-header > .l-block:last-child {
    float: none;
    margin-right: 67%;
  }

  .l-header > .l-block-header-1 {
    display: none;
  }

  .l-header > .l-block-header-2 {
    margin-right: 33%;
  }

  .l-nav {
    float: left;
    position: static;
    width: 20%;
  }

  .l-body {
    float: left;
    width: 80%;
  }

  .l-footer {
    padding: 2em 0 1em;

  }
}

@media (min-width: 800px) and (max-width: 990px) {
  .l-container {
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 30%, #ffffff 30%, #ffffff 100%);
  }

  .l-nav {
    width: 30%;
  }

  .l-body {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .l-container, .l-footer {
    margin: 0 auto;
    width: 1600px;
  }
}

.l-block {
  padding: .75em .5em;
}

.l-block > h2 {
  margin-bottom: .125em;
}

.l-block-footer {
  padding: 0.75em 1em;
}

.l-block-header {
  background-color: rgb(255, 220, 165);
}

.l-block-header-1 {
  float: left;
  width: 50%;
}

.l-block-header-2 {
  margin-left: 50%;
}

.l-block-title {
  background-color: rgb(42, 0, 88);
  padding: 0.5em;
}

.l-block-title-1 {
  border-bottom: solid 1px rgb(100, 52, 125);
}

.l-block-utilities {
  padding: .5em .5em 0;
}

.l-block-content {
  clear: left;
  padding: 0 .5em;
}

.l-block-content.l-block-content-1 {
  padding-top: .5em;
}

.l-block-body {
  clear: none;
}

@media (min-width: 600px) {
  .l-block {
    padding: 1.5em;
  }

  .l-block-header, .l-block-navigation, .l-block-footer {
    padding: 1em;
  }

  .l-block-utilities {
    clear: left;
    padding-bottom: 0;
  }

  .l-block-content {
    padding-bottom: 0;
    padding-top: 0;
  }

  .l-block-content.l-block-content-1 {
    padding-top: 1.5em;
  }

  .l-block-body-left {
    float: left;
    width: 56.25%;
  }

  .l-block-body-right {
    margin-left: 56.25%;
    padding-top: 1.5em;
  }

}

@media (min-width: 800px) {
  .l-block-header {
    background-color: transparent;
    margin-left: 0;
  }

  .l-block-body-left {
    width: 65%;
  }

  .l-block-body-right {
    margin-left: 65%;
  }

  .l-block-footer {
    padding: 1.5em;
  }

  .l-block-footer-1 {
    float: left;
    width: 20%;
  }

  .l-block-footer-2 {
    float: left;
    width: 20%;
  }

  .l-block-footer-3 {
    margin-left: 40%;
  }
}
