.branding {
  background-color: transparent;
}

.branding > h1 {
  margin: 0;
  width: 75%;
}

.branding > h1 > a {
  background-image: url('../images/find-it-logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 0;
  padding-bottom: 20%;
  overflow: hidden;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .branding > h1 {
    max-width: 100%;
    width: 324px;
  }

  .branding > h1 > a {
    height: 64px;
    margin-top: 0;
  }
}

.system-main-menu {
  padding: 0;
}

.menu-footer-menu {
  padding: 1em 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav > li {
  padding-left: 0;
}

.nav.nav-main > li {
  background-color: rgb(255, 220, 165);
  line-height: 1em;
  margin-bottom: 1px;
}

.nav > li > a {
  display: block;
  font-family: Fira Sans Bold, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.nav.nav-main > li > a {
  padding: 1em;
}

.nav.nav-footer > li > a {
  color: rgb(255, 255, 255);
  line-height: 1.25em;
  padding: 0.25em 1em;
  text-decoration: none;
}

.nav.nav-main > li > a:hover {
  background-color: rgb(255, 146, 30);
}

.nav.nav-footer > li > a:hover {
  color: rgb(231, 21, 80);
}

.nav > li > a.active {
  border-left-style: solid;
  border-left-width: 0.2em;
  padding-left: 0.8em;
}

.nav.nav-main > li > a.active {
  border-left-color: rgb(42, 0, 88);
}

.nav.nav-footer > li > a.active {
  border-left-color: rgb(211, 203, 221);
  color: rgb(211, 203, 221);
}

.nav-main-toggle {
  background-color: transparent;
  background-image: url('../images/icon-menu.svg');
  background-position: -0.5em center;
  background-repeat: no-repeat;
  background-size: 2em;
  border: none;
  color: rgb(42, 0, 88);
  line-height: 1.5em;
  margin: 0;
  padding: 0 0 0 1.5em;
  text-decoration: none;
}

.nav-main .nav-main-toggle {
  background-position: .5em center;
  line-height: 1em;
  padding-left: 2.5em;
}

@media (min-width: 800px) {
  .nav-main > li:first-child {
    display: none;
  }
}

.l-container-with-nav-main .nav-main-toggle {
  background-image: url('../images/icon-menu-close.svg');
}

.findit-main-menu-toggle {
  border-right: 1px solid rgb(255, 255, 255);
}

.locale-language {
  margin-bottom: 1px;
}

.locale-language > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0.5em;
  text-align: right;
}

.locale-language > ul > li {
  display: inline;
  line-height: 1.5em;
  padding-left: 0;
}

.locale-language > ul > li.active {
  display: none;
}

.locale-language > ul > li > a {
  text-decoration: none;
}

@media (min-width: 800px) {
  .locale-language {
    background-color: transparent;
    margin-bottom: 0;
  }
  .locale-language > ul {
    margin: 1.25em 0;
  }
}

.form-element {
  margin-bottom: 1.25em;
}

.form-element > .form-element-description {
  margin-top: .25em;
}

.form-search {
  overflow: hidden;
}

.form-search .form-element {
  margin: 0 1.5em 0 0;
}

.form-search .form-search-query {
  background-color: transparent;
  border: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-search .form-search-query:focus {
  outline: none;
}

.form-search .form-search-submit {
  background-color: transparent;
  background-image: url('../images/icon-search-mobile.svg');
  background-position: .25em center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  color: transparent;
  display: block;
  float: right;
  height: 1.5em;
  padding: 0;
  width: 1.5em;
}

@media (min-width: 800px) {
  .form-search > div {
    margin: 0.75em 0;
  }

  .form-search .form-element {
    margin: 0 2.5em 0 0;
  }

  .form-search .form-search-query {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(250, 119, 27);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 2.5em;
    padding: 0.625em 0.75em;
  }

  .form-search .form-search-submit {
    background-color: rgb(250, 119, 27);
    background-image: url('../images/icon-search.svg');
    background-position: center center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 2.5em;
    width: 2.5em;
  }
}

.tabs {
  border-bottom: 1px solid rgb(42, 0, 88);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tabs > li {
  display: inline-block;
  padding: 0.625em 0.75em;
}

.tabs > li > a {
  line-height: 1em;
  text-decoration: none;
}

.tabs > .active {
  border: solid 1px rgb(42, 0, 88);
  border-bottom: solid 1px rgb(255, 255, 255);
  position: relative;
  top: 1px;
}

.front .findit-title {
  background-image: url('../images/background-pattern.svg');
  background-size: cover;
  background-position: center center;
  min-height: 6em;
}

@media (min-width: 800px) {
  .front .findit-title {
    min-height: 12em;
  }
}

.title {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.title-special {
  font-family: Merriweather;
  font-size: 1em;
  line-height: 1.25em;
}

@media (min-width: 600px) {
  .title-special {
    font-size: 2.5em;
    line-height: 1.5em;
  }
}

.findit-search-summary {
  border-bottom: solid 1px rgb(100, 52, 125);
}

.findit-search-summary > h3 {
  color: rgb(211, 203, 221);
  margin-bottom: 0;
}

.findit-search-summary > h3 > small {
  font-size: 0.6em;
  font-weight: normal;
}

.findit-contact {
  background-color: rgb(250, 119, 27);
  color: rgb(255, 255, 255);
}

.findit-contact p {
  line-height: 1.44em;
  padding-left: 2.5em;
}

.findit-contact p a {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
}

.findit-contact .contact-phone {
  background-image: url('../images/icon-phone.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 2em;
}

.findit-contact .contact-mail {
  background-image: url('../images/icon-mail.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 2em;
}

.findit-contact .contact-mail a {
  font-size: 0.875em;
}

.findit-credits p {
  color: rgb(211, 203, 221);
}

.findit-credits p a {
  color: rgb(255, 255, 255);
}

.findit-sponsors img {
  height: auto;
  max-width: 33%;
  padding-right: 0.5em;
  vertical-align: top;
}

@media (min-width: 600px) {
  .findit-sponsors img {
    padding-right: 1em;
  }
}

@media (min-width: 800px) {
  .findit-sponsors img {
    padding-right: 1.5em;
  }
}

.findit-hero, .findit-highlights, .views-announcements-block-current {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.findit-highlights > *, .views-announcements-block-current > * {
  flex: 0 0 100%;
}

.findit-highlights > div, .views-announcements-block-current > div {
  margin-bottom: .5em;
}

.findit-hero > div {
  flex: 0 0 calc(50% - 0.25em);
  margin-bottom: .5em;
}

@media (min-width: 600px) {
  .findit-highlights > div, .views-announcements-block-current > div {
    margin-bottom: 1.5em;
  }
  .findit-hero > div {
    flex: 0 0 calc(50% - 0.75em);
    margin-bottom: 1.5em;
  }
}

@media (min-width: 800px) {
  .findit-hero > div, .findit-highlights > div, .views-announcements-block-current > div {
    flex: 0 0 calc(33.33% - 1em);
  }
}

.expandable {
  list-style: none;
  margin-bottom: 1em;
  padding-left: 0;
}

.expandable a {
  text-decoration: none;
}

.expandable {
  margin: 0 0 1.25em;
}

.expandable > .expandable-heading {
  margin: 0 0 1em;
}

.expandable > .expandable-heading > a {
  background-color: rgb(255, 255, 255);
}

.expandable > .expandable-heading > a::before {
  color: rgb(250, 119, 27);
  content: '▸';
  margin-right: 0.75em;
}

.expandable.expandable-is-open > .expandable-heading > a::before {
  content: '▾';
}

.expandable > .expandable-heading > a::after {
  border-bottom: 1px solid rgb(211, 203, 221);
  content: '';
  display: block;
  height: 1px;
  line-height: 1px;
  margin-top: -0.25em;
}

.expandable > .expandable-content {
  display: none;
  list-style: none;
  padding-left: 1.75em;
}

.expandable > .expandable-content > li {
  margin-bottom: 1em;
}

.expandable.expandable-is-open > .expandable-content {
  display: block;
}

.expandable-container {
  padding-left: 0;
}

.popover {
  position: relative;
  z-index: 1;
}

.popover.popover-is-hidden {
  display: none;
}

.popover-content {
  background: rgb(241, 241, 241);
  margin-top: .75em;
  padding: .5em;
  position: absolute;
  width: 19em;
}

.popover-content > :first-child {
  margin-top: 0;
}

.popover-content > :last-child {
  margin-bottom: 0;
}

.popover-content::before {
  position: absolute;
  top: -.5em;
  left: 1em;
  width: 1em;
  height: 1em;
  background: rgb(241, 241, 241);
  transform: rotate(45deg);
  display: block;
  content: '';
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: -1;
}

.popover-content::after {
  background: pink;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  z-index: -2;
}

@media (min-width: 800px) {
  .popover-content {
    left: -7.5em;
  }
  .popover-content::before {
    left: 9em;
  }
}

.calendar {
  display: block;
  font-size: 0.75em;
  table-layout: fixed;
  width: 100%;
}

.calendar thead {
  display: none;
}

.calendar tbody {
  border: none;
  display: block;
}

.calendar tr {
  display: block;
}

.calendar th {
  display: block;
}

.calendar td {
  display: block;
  padding: 0;
}

.calendar .date-box {
  display: none;
}

.calendar .empty {
  display: none;
}

.calendar .no-entry {
  display: none;
}

.calendar-nav {
  margin-bottom: 1em;
}

.calendar-nav-heading {
  color: rgb(100, 52, 125);
  margin-bottom: 0;
  vertical-align: middle;
}

.calendar-nav-pager {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;
  vertical-align: middle;
}

.calendar-nav-pager > li {
  background-color: rgb(100, 52, 125);
  border-radius: 3px;
  display: inline-block;
  padding: 0;
}

.calendar-nav-pager > li > a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 0.25em 0 0;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
}

@media (min-width: 600px) {
  .calendar {
    display: table;
  }

  .calendar thead {
    display: table-header-group;
  }

  .calendar tbody {
    display: table-row-group;
  }

  .calendar tr {
    display: table-row;
  }

  .calendar .date-box {
    border-top: solid .25em rgb(42, 0, 88);
  }

  .calendar .date-box.past {
    border-top: solid .25em rgb(241, 241, 241);
  }

  .calendar th {
    background-color: rgb(211,203,221);
    border-left: solid 0.25em rgb(255, 255, 255);
    border-right: solid 0.25em rgb(255, 255, 255);
    border-bottom: none;
    color: rgb(42, 0, 88);
    display: table-cell;
    padding: .25em .5em;
  }

  .calendar td {
    border-left: solid .25em rgb(255, 255, 255);
    border-right: solid .25em rgb(255, 255, 255);
    display: table-cell;
    vertical-align: top;
  }

  .calendar .date-box {
    display: table-cell;
    height: auto;
  }

  .calendar .empty {
    display: table-cell;
  }

  .calendar .no-entry {
    display: table-cell;
    height: 4em;
  }

  .calendar .calendar-datebox {
    background-color: rgb(42, 0, 88);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: .25em;
    text-align: center;
    width: 2em;
  }

  .calendar-nav-pager {
    float: left;
    margin-top: .33em;
  }

  .calendar-nav-heading {
    text-align: center;
  }
}

.event {
  border-bottom: solid 1px rgb(211,203,221);
  padding: 0;
}

.event > h4 {
  background-color: rgb(211,203,221);
  color: rgb(42, 0, 88);
  margin-bottom: 0;
  padding: .5em;
}

.event > h4 > .event-day-of-month {
  float: right;
}

.event > p {
  margin: .5em 0;
}

.event > p > .event-time {
  color: rgb(120, 120, 120);
  display: inline-block;
  font-size: .875em;
  margin-right: 2em;
  width: 4em;
}

.event > p > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 600px) {
  .event {
    border-bottom: 0;
  }

  .event > h4 {
    display: none;
  }

  .event > p > .event-time {
    display: inline;
    margin-right: 0;
  }
}

.filter {
  color: inherit;
  margin-right: .5em;
  text-decoration: none;
}

.filter:before {
  background: url('../images/icon-menu-close.svg');
  background-color: rgb(100, 52, 125);
  background-repeat: no-repeat;
  background-size: 1em;
  border-radius: .5em;
  color: rgb(42, 0, 88);
  content: '';
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin-right: .25em;
  text-align: center;
  vertical-align: text-top;
  width: 1em;
}

.node {
  margin-bottom: 1em;
}

.node-teaser {
  margin-bottom: 2em;
}

.node-teaser * {
  margin-bottom: 0;
}

.node-teaser > .node-title > a {
  text-decoration: none;
}

.node-teaser > .field.field-age-eligibility {
  color: rgb(120, 120, 120);
}

.node-teaser > .field.field-event-date {
  color: rgb(120, 120, 120);
}

.node-teaser > .field.field-contacts > .field-label {
  font-weight: bold;
}

.node-submitted, .node-type {
  color: rgb(120, 120, 120);
}

.node-contact.node-teaser {
  display: inline;
}

.node-contact.node-teaser:after {
  content: '|';
}

.node-contact.node-teaser:last-child:after {
  content: '';
}

.node-contact.node-teaser div {
  display: inline;
}

.node.node-callout {
  background-color: rgb(42, 0, 88);
  color: rgb(255, 255, 255);
  padding: .5em;
}

.node.node-callout > .node-title {
  color: inherit;
  font-size: 1em;
}

.node.node-callout > .body {
  font-style: italic;
}

.node-teaser.node-announcement {
  background-color: rgb(255, 220, 165);
  border-radius: 3px;
  padding: .5em;
}

.node-teaser.node-announcement > .node-title {
  color: inherit;
  font-size: .75em;
}


.field > .field-label-above {
  color: inherit;
  font-weight: bold;
  margin-bottom: 0;
}

.field.field-registration {
  margin-bottom: 1em;
}

.field.field-location-name {
  font-weight: bold;
}

.field.field-publishing-date {
  color: rgb(120, 120, 120);
}

.field.field-organizations a {
  background-image: url('../images/arrow-left.svg');
  background-position: left 40%;
  background-repeat: no-repeat;
  color: rgb(211, 203, 221);
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 1.5em;
  text-decoration: none;
}

.field.field-event-date, .field.field-program-period {
  color: rgb(255, 255, 255);
  line-height: 1.5em;
  text-decoration: none;
}

.field.field-logo {
  margin: -0.5em -0.5em 0.5em;
}

.field.field-callout-image {
  display: block;
  margin: -0.5em -0.5em 0.5em;
}

@media (min-width: 600px) {
  .field.field-logo {
    margin: -1.5em -1.5em 1.5em;
  }
}

.button {
  border: 1px solid rgb(42, 0, 88);
  border-radius: 3px;
  background-color: rgb(42, 0, 88);
  color: rgb(255,255,255);
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: .625em .75em;
}

.button-primary {
  background-color: rgb(250, 119, 27);
}

.form-filters .form-widget {
  position: relative;
  z-index: 1;
}

.form-filters .form-widget .form-element {
  margin-bottom: .5em;
}

.form-filters .form-widget-button {
  z-index: auto;
}

.form-filters .form-widget .form-text,
.form-filters .form-widget .form-select {
  width: 100%;
}

.form-filters .form-widget .slide-with-style-slider {
  width: 100%;
}

.form-filters .form-widget h3 {
  color: rgb(211, 203, 221);
  margin-bottom: 0;
}

.form-filters .form-widget > label {
  margin-bottom: 0;
}

.form-filters .form-widget:first-child > label {
  font-size: 0.75em;
}

.form-filters .form-widget > label > a {
  color: rgb(211, 203, 221);
  font-weight: normal;
  margin-bottom: 0;
  text-decoration: none;
}

.form-filters .form-widget > label > a::after {
  content: ' ▾';
}

.form-filters .form-widget-location select {
  display: none;
}

@media (min-width: 800px) {
  .form-filters {
    border-collapse: collapse;
    display: table;
  }

  .form-filters > div {
    display: table-row;
  }

  .form-filters .form-widget {
    border: solid 1px rgb(211, 203, 221);
    display: table-cell;
    vertical-align: middle;
  }

  .form-filters .form-widget > label > a {
    display: block;
    padding: .5em .75em;
  }

  .form-filters .form-widget:first-child {
    border: none;
    padding-right: .75em;
  }

  .form-filters .form-widget:first-child > label {
    font-size: 1.25em;
  }

  .form-filters .form-widget-button {
    border: none;
    padding: 0 0 0 .75em;
  }
}

.contextual-links-trigger {
  box-sizing: content-box;
}
