.branding {
  background-color: transparent;
}

.branding > h1 {
  margin: 0;
  width: 75%;
}

.branding > h1 > a {
  background-image: url('../images/find-it-logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 0;
  padding-bottom: 20%;
  overflow: hidden;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .branding > h1 {
    max-width: 100%;
    width: 324px;
  }

  .branding > h1 > a {
    height: 64px;
    margin-top: 0;
  }
}

.system-main-menu {
  padding: 0;
}

.menu-footer-menu {
  padding: 1em 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav > li {
  padding-left: 0;
}

.nav.nav-main > li {
  background-color: rgb(255, 220, 165);
  border-bottom: solid 1px rgb(255, 255, 255);
  line-height: 1em;
}

.nav > li > a {
  display: block;
  font-family: Fira Sans Bold, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.nav.nav-main > li > a {
  padding: 1em;
}

.nav.nav-footer > li > a {
  color: rgb(255, 255, 255);
  line-height: 1.25em;
  padding: 0.25em 1em;
  text-decoration: none;
}

.nav.nav-main > li > a:hover {
  background-color: rgb(255, 146, 30);
}

.nav.nav-footer > li > a:hover {
  color: rgb(231, 21, 80);
}

.nav > li > a.active {
  border-left-style: solid;
  border-left-width: 0.2em;
  padding-left: 0.8em;
}

.nav.nav-main > li > a.active {
  border-left-color: rgb(42, 0, 88);
}

.nav.nav-main > li > a.nav-main-toggle {
  background-position: .5em center;
  line-height: 1em;
  padding-left: 2.5em;
}

.nav.nav-footer > li > a.active {
  border-left-color: rgb(211, 203, 221);
  color: rgb(211, 203, 221);
}

.nav-main-toggle {
  background-color: transparent;
  background-image: url('../images/icon-menu.svg');
  background-position: -0.5em center;
  background-repeat: no-repeat;
  background-size: 2em 2em;
  border: none;
  color: rgb(42, 0, 88);
  line-height: 1.5em;
  margin: 0;
  padding: 0 0 0 1.5em;
  text-decoration: none;
}

@media (min-width: 800px) {
  .nav-main > li:first-child {
    display: none;
  }
}

.l-nav-active .nav-main-toggle {
  background-image: url('../images/icon-menu-close.svg');
}

.l-nav-active .findit-main-menu-toggle .nav-main-toggle {
  visibility: hidden;
}

.findit-main-menu-toggle {
  border-right: solid 1px rgb(255, 255, 255);
}

.locale-language {
  margin-bottom: 1px;
}

.locale-language > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0.5em;
  text-align: right;
}

.locale-language > ul > li {
  display: inline;
  line-height: 1.5em;
  padding-left: 0;
}

.locale-language > ul > li.active {
  display: none;
}

.locale-language > ul > li > a {
  text-decoration: none;
}

@media (min-width: 800px) {
  .locale-language {
    background-color: transparent;
    margin-bottom: 0;
  }
  .locale-language > ul {
    margin: 1.25em 0;
  }
}

.tabs {
  border-bottom: solid 1px rgb(42, 0, 88);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tabs > li {
  display: inline-block;
  padding: 0.5em 0.625em;
  font-weight: bold;
}

.tabs > li > a {
  font-size: .875em;
  line-height: 1em;
  text-decoration: underline;
  color: rgb(250, 119, 27);
}

.tabs > .active {
  border: solid 1px rgb(42, 0, 88);
  border-bottom: solid 1px rgb(255, 255, 255);
  position: relative;
  top: 1px;
}

.tabs > .active > a {
  color: rgb(42, 0, 88);
  text-decoration: none;
}

@media (min-width: 600px) {
  .tabs > li > a {
    font-size: 1em;
  }
}

.front .findit-title {
  background-image: url('../images/background-pattern.svg');
  background-size: cover;
  background-position: center center;
  min-height: 6em;
}

@media (min-width: 800px) {
  .front .findit-title {
    min-height: 12em;
  }
}

.title {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.title-special {
  font-family: Merriweather;
  font-size: 1em;
  line-height: 1.25em;
}

@media (min-width: 600px) {
  .title-special {
    font-size: 2.5em;
    line-height: 1.5em;
  }
}

.findit-subscriber-link > a {
  background-image: url('../images/icon-timer.svg');
  background-position: left top;
  background-size: 2em 2em;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  display: block;
  line-height: 1em;
  min-height: 2em;
  padding: .5em 0 .5em 2em;
  text-decoration: none;
}

.findit-addtocalendar-add-to-calendar > a {
  background-image: url('../images/icon-calendar.svg');
  background-position: left top;
  background-size: 2em 2em;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  display: block;
  line-height: 1em;
  min-height: 2em;
  padding: .5em 0 .5em 2em;
  text-decoration: none;
}

.l-block-body-right.findit-subscriber-link {
  padding-top: 1.5em;
  padding-bottom: 0;
}

@media (min-width: 800px) and (max-width: 980px) {
  .l-block-body-right.findit-subscriber-link {
    padding-top: 0;
  }
}

.l-block-body-right.content-alert-error-reporting,
.l-block-body-right.findit-addtocalendar-add-to-calendar {
  padding-top: 0;
  padding-bottom: 0;
}

.findit-search-summary > h3 {
  color: rgb(211, 203, 221);
  margin-bottom: 0;
}

.findit-search-summary > h3 > small {
  font-size: 0.6em;
  font-weight: normal;
}

.findit-contact {
  background-color: rgb(251,146,73);
  color: rgb(30,30,30);
}

.findit-contact p a {
  color: rgb(30,30,30);
  font-weight: 700;
  text-decoration: none;
}

.findit-contact a:hover {
  text-decoration: underline;
}

.findit-contact .contact-phone {
  background-image: url('../images/icon-phone.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 2em 2em;
}

.findit-contact .contact-mail {
  background-image: url('../images/icon-mail.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 2em 2em;
  word-break: break-all;
}

.findit-contact .contact-mail a {
  font-size: 0.875em;
}

.findit-social {
  width: 34px;
  height: 34px;
  display: inline-block;
}

div.findit-social{
  padding-left:0;
}

.findit-credits p {
  color: rgb(211, 203, 221);
}

.findit-credits p a {
  color: rgb(255, 255, 255);
}

.findit-sponsors {
  max-width: 600px;
}

.findit-sponsors img {
  height: auto;
  max-width: 33%;
  padding-right: 0.5em;
  vertical-align: top;
}

@media (min-width: 600px) {
  .findit-sponsors img {
    padding-right: 1em;
  }
}

@media (min-width: 800px) {
  .findit-sponsors img {
    padding-right: 1.5em;
  }
}

.findit-related-programs > h2,
.findit-related-events > h2 {
  font-size: 1.25em;
  line-height: 1em;
  padding-bottom: .25em;
}

.findit-related-programs > .node,
.findit-related-events > .node {
  font-size: 0.875em;
  line-height: 1.25em;
  margin-bottom: 0;
  padding: 1em 0;
}

.findit-related-programs > .node > .node-title,
.findit-related-events > .node > .node-title {
  font-size: 1em;
  margin-bottom: 0;
}

.findit-hero, .findit-highlights {
  padding-right: 0;
}

.findit-highlights > div, .findit-hero > div  {
  margin-right: .5em;
  margin-bottom: .5em;
}

.findit-hero > div {
  float: left;
  width: calc(50% - 0.5em);
}

.findit-hero > :nth-last-child(2n) {
  clear: left;
}

@media (min-width: 600px) {
  .findit-hero > div, .findit-highlights > div {
    float: left;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    width: calc(33.33% - 1.5em);
  }

  .findit-hero > :nth-last-child(2n) {
    clear: none;
  }

  .findit-hero > :nth-last-child(3n) {
    clear: left;
  }

}

.expandable {
  list-style: none;
  margin-bottom: 1em;
  padding-left: 0;
}

.expandable a {
  text-decoration: none;
}

.expandable {
  margin: 0 0 1.25em;
}

.expandable > .expandable-heading {
  line-height: 1.25em;
  margin: 0 0 1em;
}

.expandable > .expandable-heading > a {
  background-color: rgb(255, 255, 255);
}

.expandable > .expandable-heading > a::before {
  color: rgb(250, 119, 27);
  content: '▸';
  margin-right: 0.75em;
}

.expandable.expandable-is-open > .expandable-heading > a::before {
  content: '▾';
}

.expandable > .expandable-heading > a::after {
  border-bottom: solid 1px rgb(211, 203, 221);
  content: '';
  display: block;
  height: 1px;
  line-height: 1px;
  margin-top: -0.375em;
}

.expandable > .expandable-content {
  display: none;
  list-style: none;
  padding-left: 1.75em;
}

.expandable > .expandable-content > li {
  margin-bottom: 1em;
}

.expandable > .expandable-content a:hover {
  text-decoration: underline;
}

.expandable > .expandable-content .field-content:last-child {
  padding-bottom: 0;
}
.expandable > .expandable-content .field-content:first-child {
  padding-top: 0;
}
.expandable > .expandable-content .field-content {
  padding: 2.5px 0;
}

.expandable > .expandable-content .field-other-eligibility a {
  text-decoration: none;
}

.expandable.expandable-is-open > .expandable-content {
  display: block;
}

.expandable > .expandable-content .subheading {
  margin: 1em 0;
}

.expandable .current-programs,
.expandable .past-programs,
.expandable .current-events,
.expandable .past-events {
  font-weight: bold;
  margin: 1em auto;
}

.expandable-container {
  padding-left: 0;
}

.popover {
  position: relative;
  z-index: 1;
}

.popover.popover-is-hidden {
  display: none;
}

.popover-content {
  background: rgb(241, 241, 241);
  margin-top: .75em;
  padding: .75em;
  position: absolute;
  width: 100%;
}

.popover-content label {
  font-size: .625em;
  font-weight: normal;
}

.popover-content > :first-child {
  margin-top: 0;
}

.popover-content > :last-child {
  margin-bottom: 0;
}

.popover-content::before {
  position: absolute;
  top: -.5em;
  left: 1em;
  width: 1em;
  height: 1em;
  background: rgb(241, 241, 241);
  transform: rotate(45deg);
  display: block;
  content: '';
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: -1;
}

.popover-content::after {
  background: pink;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  z-index: -2;
}

@media only screen and (min-width: 480px) {
  .popover-content {
    margin: 0 auto;
    max-width: 29em;
  }

  .popover-content.popover-content-wide {
    max-width: 39em;
  }
}

@media (min-width: 800px) {
  .popover-content {
    left: -7.5em;
    width: 19em;
  }

  .popover-content::before {
    left: 9em;
  }

  .popover-content.popover-content-wide::before {
    left: 19em;
  }

  .popover-content.popover-content-wide {
    left: -17.5em;
    width: 39em;
  }
}

.calendar {
  display: block;
  font-size: 0.75em;
  table-layout: fixed;
  width: 100%;
}

.calendar thead {
  display: none;
}

.calendar tbody {
  border: none;
  display: block;
}

.calendar tr {
  display: block;
}

.calendar th {
  display: block;
}

.calendar td {
  display: block;
  padding: 0;
}

.calendar .date-box {
  display: none;
}

.calendar .empty {
  display: none;
}

.calendar .no-entry {
  display: none;
}

.calendar-nav {
  margin-bottom: 1em;
}

.calendar-nav-heading {
  color: rgb(100, 52, 125);
  margin-bottom: 0;
  vertical-align: middle;
}

.calendar-nav-pager {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;
  vertical-align: middle;
}

.calendar-nav-pager > li {
  background-color: rgb(100, 52, 125);
  border-radius: 3px;
  display: inline-block;
  padding: 0;
}

.calendar-nav-pager > li.calendar-nav-pager-toggle-display {
  display: none;
}

.calendar-nav-pager > li > a {
  color: rgb(30,30,30);
  display: block;
  padding: 0.25em 0 0;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
}

.calendar-nav-pager > li.calendar-nav-pager-toggle-display > a {
  width: 7em;
  padding: 0.25em 0.5em 0;
}

@media (min-width: 600px) {
  .calendar.calendar-grid-view {
    display: table;
  }

  .calendar.calendar-grid-view thead {
    display: table-header-group;
  }

  .calendar.calendar-grid-view tbody {
    display: table-row-group;
  }

  .calendar.calendar-grid-view tr {
    display: table-row;
  }

  .calendar.calendar-grid-view .date-box {
    border-top: solid .25em rgb(42, 0, 88);
  }

  .calendar.calendar-grid-view .date-box.past {
    border-top: solid .25em rgb(241, 241, 241);
  }

  .calendar.calendar-grid-view th {
    background-color: rgb(211,203,221);
    border-left: solid 0.25em rgb(255, 255, 255);
    border-right: solid 0.25em rgb(255, 255, 255);
    border-bottom: none;
    color: rgb(42, 0, 88);
    display: table-cell;
    padding: .25em .5em;
  }

  .calendar.calendar-grid-view td {
    border-left: solid .25em rgb(255, 255, 255);
    border-right: solid .25em rgb(255, 255, 255);
    display: table-cell;
    vertical-align: top;
  }

  .calendar.calendar-grid-view .date-box {
    display: table-cell;
    height: auto;
  }

  .calendar.calendar-grid-view .empty {
    display: table-cell;
  }

  .calendar.calendar-grid-view .no-entry {
    display: table-cell;
    height: 4em;
  }

  .calendar.calendar-grid-view .calendar-datebox {
    background-color: rgb(42, 0, 88);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: .25em;
    text-align: center;
    width: 2em;
  }

  .calendar-nav-heading {
    text-align: center;
  }

  .calendar-nav-pager {
    float: left;
    margin-top: .33em;
  }

  .calendar-nav-pager > li {
    background-color: rgb(251,146,73);
  }

  .calendar-nav-pager > li.calendar-nav-pager-toggle-display {
    display: inline-block;
  }
}

.event {
  border-bottom: solid 1px rgb(211,203,221);
  padding: 0;
}

.events-list h3,
.event > h4 {
  background-color: rgb(211,203,221);
  color: rgb(42, 0, 88);
  margin-bottom: 0;
  padding: .5em;
}

.event > h4 > .event-day-of-month {
  float: right;
}

.events-list ul,
.event > p {
  margin: .5em 0;
}

.event > p > .event-time {
  color: rgb(85, 85, 85);
  display: inline-block;
  font-size: .875em;
  margin-right: 2em;
  width: 9em;
}

.events-list ul:not(.pager) a,
.event > p > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 600px) {
  .calendar-grid-view .event {
    border-bottom: 0;
  }

  .calendar-grid-view .event > h4 {
    display: none;
  }

  .calendar-grid-view .event > p > .event-time {
    display: inline;
    margin-right: 0;
  }
}

.ui-slider {
  background-color: rgb(211, 203, 221);
  border: solid 1px rgb(42, 0, 88);
  border-radius: .375em;
  height: 0.75em;
  margin: 1.5em 0 0;
}

.ui-slider .ui-slider-range {
  background-color: rgb(42, 0, 88);
  border-radius: .375em;
}

.ui-slider .ui-slider-handle {
  border-left: .75em solid transparent;
  border-right: .75em solid transparent;
  border-top: .75em solid rgb(42, 0, 88);
  height: 0;
  top: -.875em;
  width: 0;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.5625em;
}

.ui-slider .ui-slider-handle:focus {
  outline: none;
}

.ui-slider-handle + .ui-slider-handle {
  margin-left: -.9125em;
}

.filter {
  color: inherit;
  margin-right: .5em;
  text-decoration: none;
}

.filter:before {
  background: url('../images/icon-menu-close.svg');
  background-color: rgb(211, 203, 221);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  border-radius: .5em;
  color: rgb(42, 0, 88);
  content: '';
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin-right: .25em;
  text-align: center;
  vertical-align: text-top;
  width: 1em;
}

.node {
  margin-bottom: 1em;
}

.node > .node-title > a {
  color: inherit;
  text-decoration: none;
}

.node-teaser,
.node-event-embed {
  margin-bottom: 2em;
}

.node-teaser *,
.node-event-embed * {
  margin-bottom: 0;
}

.node-teaser > .field.field-age-eligibility {
  color: rgb(85, 85, 85);
}

.node-teaser > .field.field-event-date,
.node-event-embed  > .field.field-event-date {
  color: rgb(85, 85, 85);
}

.node-teaser > .field.field-contacts > .field-label,
.node-event-embed > .field.field-contacts > .field-label {
  font-weight: bold;
}

.node-submitted, .node-type {
  color: rgb(85, 85, 85);
}

.node-contact.node-teaser {
  display: inline;
}

.node-contact.node-teaser:after {
  content: ',';
}

.node-contact.node-teaser:last-child:after {
  content: '';
}

.node-contact.node-teaser div {
  display: inline;
}

.node-location.node-location-full .field-neighborhoods .field-content,
.field-time-day-of-week .field-content,
.field-time-of-day .field-content,
.field-time-of-year .field-content,
.field-time-other .field-content {
  display: inline;
}

.node-location.node-location-full .field-neighborhoods .field-content:after,
.field-time-day-of-week .field-content:after,
.field-time-of-day .field-content:after,
.field-time-of-year .field-content:after,
.field-time-other .field-content:after {
  content: ',';
}

.node-location.node-location-full .field-neighborhoods .field-content:last-child:after,
.field-time-day-of-week .field-content:last-child:after,
.field-time-of-day .field-content:last-child:after,
.field-time-of-year .field-content:last-child:after,
.field-time-other .field-content:last-child:after {
  content: '';
}

.node.node-callout {
  background-color: rgb(42, 0, 88);
  color: rgb(255, 255, 255);
  padding: .5em;
}

.node.node-callout > .node-title {
  color: inherit;
  font-size: 1em;
}

.node.node-callout > a.callout-link {
  text-decoration: none;
}

.node.node-callout > a.callout-link > h2.node-title,
.node.node-callout > a.callout-link > .body {
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.node.node-callout > a.callout-link > .body {
  font-style: italic;
}

@media (max-width: 600px) {
  .node.node-callout.node-callout-highlight {
    background-color: rgb(255, 255, 255);
    clear: left;
  }

  .node.node-callout.node-callout-highlight > .callout-link {
    float: left;
    width: 50%;
  }

  .node.node-callout.node-callout-highlight > .node-title {
    color: rgb(42, 0, 88);
    margin-left: 50%;
    margin-top: -.5em;
  }
}

.field > .field-label-above {
  color: inherit;
  font-weight: bold;
  margin-bottom: 0;
}

.field.field-reach, .field.field-location,
.field.field-transportation, .field.field-transportation-notes,
.field.field-registration, .field.field-age-eligibility, .field.field-grade-eligibility,
.field.field-other-eligibility, .field.field-eligibility-notes, .field.field-accessibility,
.field.field-accessibility-notes, .field.field-amenities,
.field.field-financial-aid-notes, .field.field-financial-aid-file, .field.field-financial-aid-url,
.field.field-ongoing, .field.field-event-date-notes, .field.field-event-date, .field.field-when-additional-info,
.field.field-time-day-of-week, .field.field-time-of-day, .field.field-time-of-year, .field.field-time-other {
  margin-bottom: 1em;
}

.field.field-location-name {
  font-weight: bold;
}

.field.field-publishing-date {
  color: rgb(85, 85, 85);
}

.field.field-programs a,
.field.field-organizations a,
.field.field-parent-organization a {
  background-image: url('../images/arrow-left.svg');
  background-size: 1em 1em;
  background-position: left 40%;
  background-repeat: no-repeat;
  color: rgb(211, 203, 221);
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 1.5em;
  text-decoration: none;
}

.findit-title .field.field-event-date, .findit-title .field.field-program-period, .findit-title .field.field-ongoing {
  color: rgb(255, 255, 255);
  line-height: 1.5em;
  text-decoration: none;
}

.field.field-logo {
  margin: -0.5em -0.5em 0.5em;
}

@media (min-width: 600px) {
  .field.field-logo {
    margin: -1.5em -1.5em 1.5em;
  }
}

.field.field-logo img {
  max-height: 18em;
}

.field.field-program-url,
.field-additional-info-file {
  overflow: hidden;
}

.field.field-facebook-page,
.field.field-twitter-handle,
.field.field-instagram-url,
.field.field-tumblr-url {
  display: inline;
}

.field.field-facebook-page a,
.field.field-twitter-handle a,
.field.field-instagram-url a,
.field.field-tumblr-url a {
  background-color: rgb(42, 0, 88);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -999%;
  display: inline-block;
  width: 34px;
  height: 34px;
}

.field.field-facebook-page a {
  background-image: url('../images/icon-facebook.svg');
}

.field.field-twitter-handle a {
  background-image: url('../images/icon-twitter.svg');
}

.field.field-instagram-url a {
  background-image: url('../images/icon-instagram.svg');
}

.field.field-tumblr-url a {
  background-image: url('../images/icon-tumblr.svg');
}

.field.field-callout-image {
  display: block;
  margin: -0.5em -0.5em 0.5em;
}

.date-display-single .date-display-range {
  display: inline;
}

.button {
  border: solid 1px rgb(42, 0, 88);
  border-radius: 3px;
  background-color: rgb(42, 0, 88);
  color: rgb(255,255,255);
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: .625em .75em;
}

.button-primary {
  background-color: rgb(251,146,73);
  color: rgb(30,30,30);
}

.form-element {
  margin-bottom: 1.25em;
}

.form-element > .form-element-description {
  margin-top: .25em;
}

.form-search {
  overflow: hidden;
}

.form-search .form-element {
  margin: 0 1.5em 0 0;
}

.form-search .form-search-query {
  background-color: transparent;
  border: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-search .form-search-query:focus {
  outline: none;
}

.form-search .form-search-submit {
  background-color: transparent;
  background-image: url('../images/icon-search-mobile.svg');
  background-position: .25em center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  color: transparent;
  display: block;
  float: right;
  height: 1.5em;
  padding: 0;
  width: 1.5em;
}

@media (min-width: 800px) {
  .form-search {
    margin: 0.75em 0;
  }

  .form-search .form-element {
    margin: 0 2.5em 0 0;
  }

  .form-search .form-search-query {
    background-color: rgb(241, 241, 241);
    border: solid 1px rgb(250, 119, 27);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 2.5em;
    padding: 0.625em 0.75em;
  }

  .form-search .form-search-submit {
    background-color: rgb(250, 119, 27);
    background-image: url('../images/icon-search.svg');
    background-position: center center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 2.5em;
    width: 2.5em;
  }
}

.form-filters > h3 {
  color: rgb(255, 255, 255);
  font-size: .75em;
}

.form-filters > * {
  margin-bottom: .5em;
}

.form-filters > .form-element > label {
  color: rgb(211, 203, 221);
  display: inline;
  margin-bottom: 0;
}

.form-filters > .form-element > label:after {
  content: ' ▾';
}

.form-filters > .form-element .form-text {
  width: 100%;
}

.form-filters > .form-element-neighborhood .form-select {
  display: none;
}

.form-filters > .form-element-age .form-element {
  display: inline-block;
}

.form-filters .form-element-age-min,
.form-filters .form-element-age-max {
  margin-bottom: 0;
}

.form-filters .form-element-age-max {
  float: right;
}

.form-filters .form-element-age-min > *,
.form-filters .form-element-age-max > * {
  display: inline-block;
}

@media (min-width: 800px) {
  .form-filters {
    border-collapse: collapse;
    display: table;
  }

  .form-filters > * {
    display: table-cell;
    margin-bottom: 0;
  }

  .form-filters > h3 {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1em;
    padding-right: .75em;
  }

  .form-filters > .form-element {
    border: solid 1px rgb(211, 203, 221);
    vertical-align: middle;
  }

  .form-filters > .form-element > label {
    display: block;
    font-weight: normal;
    padding: .5em .75em;
  }

  .form-filters .button-primary {
    margin-left: .75em;
  }
}

.form-checkboxes > .form-element {
  margin-bottom: .5em;
}

.contextual-links-trigger {
  box-sizing: content-box;
}

.pager {
  padding-left: 0;
  list-style: none;
}

.pager > li {
  display: inline-block;
}

.pager > li > a {
  text-decoration: none;
}

.content-alert-error-reporting {
  padding-top: 0;
  padding-bottom: 0;
}

.content-alert-error-reporting > a {
  background-image: url('../images/icon-warning.svg');
  background-position: left top;
  background-size: 2em 2em;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  display: block;
  line-height: 1em;
  min-height: 2em;
  padding: .5em 0 .5em 2em;
  text-decoration: none;
}

#views-form-content-alerts-page input[type="checkbox"]{
  display: inherit;
}


.node-content-alert div.field{
  padding-top: 15px;
}

.node-content-alert .node-readmore {
  display: none;
}

.page-subscriber .l-block-body-left {
    width: 100% !important;
}

#views-form-reminder-subscriptions-page table,
.page-node-subscribers table{
  width: 100%;
}

#views-form-reminder-subscriptions-page td.views-field-views-bulk-operations{
  display:none;

}

#views-form-reminder-subscriptions-page th.views-field-views-bulk-operations{
  display:none;
}

#views-form-reminder-subscriptions-page tr.odd,
.page-node-subscribers tr.odd{
  background-color: rgb(211,203,221);
}

#views-form-reminder-subscriptions-page tr.even,
.page-node-subscribers tr.even{
  background-color: white;
}

#views-form-reminder-subscriptions-page td a,
.page-node-subscribers td a{
  padding: .5em;
}
#views-form-reminder-subscriptions-page .views-field-nothing a{
  text-decoration: none;
}

#views-form-reminder-subscriptions-page .views-field-nothing {
  height:50px;
}
#views-form-reminder-subscriptions-page .button,
#findit-subscriber-remove-form .button{
  margin-right: 10px;
}

.free.field-cost-subsidies{
  background-color: rgb(0, 226, 86);
  padding-top: 7px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
}

.free.field-cost-subsidies .field-content {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .page-contact .l-block-body-right {
    margin-top: 66px;
  }
}

.page-contact .l-header {
  border-bottom: solid 1px rgb(100, 52, 125);
}

.search-api-sorts{
  list-style-type: none;
  padding:0;
  margin-top:0;
}

.search-api-sorts-main {
  display: flex;
  height: 0;
  position: relative;
  bottom: 15px;
}

.findit-tabs ul.tabs{
  display: flex;
}

.findit-tabs ul.tabs li.sort-by {
  margin-left: auto;
}

.contact-form input[type="text"] {
  border: none;
  background-color: rgb(241, 241, 241);
  height: 2.5em;
}

.contact-form textarea{
  background-color: rgb(241, 241, 241);
  border: none;
}

.contact-form .grippie{
  display:none;
}

.contact-form label{
color: rgb(42, 0, 88)
}

.contact-form #edit-submit{
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: normal;
}

.findit-contact-logo img{
  height: 2em;
}

.google-translate-menu {
  position: absolute;
  top: 40px;
  right: 20px;
}

@media (max-width: 600px) {
  .google-translate-menu {
    position: relative;
    top: 0;
    right: 0;
  }
}
